$yellow: #f9d423;
$orange: #e65c00;
$input-height: 60px;

* {
	box-sizing: border-box;
}

:focus {
	outline: $orange auto 5px;
}

body {
	font-family: sans-serif;
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	background: $orange;
	background: -webkit-linear-gradient(to right, $yellow, $orange);
	background: linear-gradient(to right, $yellow, $orange);
}

input {
	border: 0 none;
}

.search-container {
	width: 400px;
	position: relative;
	input,
	.suggestions {
		width: 100%;
	}
	input {
		background: rgba(255, 255, 255, 0.2);
		height: $input-height;
		padding: 0 10px;
	}
	.suggestions {
		position: absolute;
		top: $input-height;
	}
}

ul {
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
	max-height: 200px;
	overflow-y: auto;
	
	&.has-suggestions {
		display: block;
	}
	
	li {
		padding: 10px;
		cursor: pointer;
		background: rgba(255, 255, 255, 0.2);
		&:hover {
			background-color: $orange;
		}
	}
}

input {
	border-bottom: 2px solid $orange;
}